<style>
  span.control-value {
    font-size: 24px;
  }

  span.control-value code {
    padding: 2px 30px;
    color: #555;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!--<process-search-bar></process-search-bar>-->

      <ol class="breadcrumb">
        <!--<li></li>-->
        <li><a href="/processes/{{$ctrl.process.processName}}">{{$ctrl.process.processName}}</a></li>
      </ol>

      <h3>
        {{$ctrl.process.processName}} <small>#{{$ctrl.process.processID}}</small>

        <!--<span class="control-value pull-right" style="font-size: 24px;">-->
          <!--<code ng-class="$ctrl.heartbeat.dataTagQuality.valid ? 'bg-success' : 'bg-danger'">-->
            <!--{{$ctrl.heartbeat.dataTagQuality.description}}-->
          <!--</code>-->
        <!--</span>-->

        <span class="control-value pull-right" style="font-size: 24px;">
          <code ng-class="$ctrl.status.value === 'RUNNING' ? 'bg-success' : 'bg-danger'">

            <i class="fa fa-heartbeat" ng-class="$ctrl.heartbeat.dataTagQuality.valid ? 'text-success' : 'text-danger'"></i>

            {{$ctrl.status.value}}
          </code>
        </span>
      </h3>

      <uib-tabset>
        <uib-tab>
          <uib-tab-heading>Equipment</uib-tab-heading>

          <table class="table table-hover table-condensed">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="equipment in $ctrl.process.equipmentConfigurations" ng-click="$ctrl.onEquipmentSelected(equipment)">
              <td>{{equipment.id}}</td>
              <td>{{equipment.name}}</td>
            </tr>
            </tbody>
          </table>

        </uib-tab>

        <!--<uib-tab>-->
          <!--<uib-tab-heading><i class="fa fa-cog"></i> Config</uib-tab-heading>-->
        <!--</uib-tab>-->

      </uib-tabset>

    </div>
  </div>
</div>