<style>
  .dl-horizontal dt {
    text-align: left;
    padding-top: 5px;
  }

  .dl-horizontal dd {
    padding-top: 5px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <tag-search-bar></tag-search-bar>

      <div class="header">
        <h3>
          {{$ctrl.tag.name}}
          <small>#{{$ctrl.tag.id}}</small>

          <span class="pull-right text-success" style="font-size: 24px;">
            <code>{{$ctrl.tag.value}} {{$ctrl.tag.unit}}</code>
          </span>
        </h3>

        <p>
          <span ng-if="$ctrl.tag.description">{{$ctrl.tag.description}}</span>

          <span class="pull-right">
            {{$ctrl.tag.dataTagQuality.description}}
            {{$ctrl.formatTimestamp($ctrl.tag.serverTimestamp)}}
          </span>
        </p>

      </div>

      <uib-tabset>
        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-line-chart"></i> Chart
          </uib-tab-heading>

          <div class="chart-container">
            <div id="chart"></div>
          </div>

        </uib-tab>

        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-table"></i> Detailed history
          </uib-tab-heading>

          <div class="history-table-container">
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>Timestamp</th>
                <th>Value</th>
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="item in $ctrl.history">
                <td>{{$ctrl.formatTimestamp(item[0])}}</td>
                <td>
                  {{item[1]}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </uib-tab>

        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-cog"></i> Config
          </uib-tab-heading>

          <p>
          <dl class="dl-horizontal">
            <dt>Process</dt>
            <dd><code>{{$ctrl.tag.processNames}}</code></dd>
            <dt>Equipment</dt>
            <dd><code>{{$ctrl.tag.equipmentIds}}</code></dd>
            <dt>Subequipment</dt>
            <dd><code>{{$ctrl.tag.subEquipmentIds}}</code></dd>
            <dt>Alarms</dt>
            <dd><code>{{$ctrl.tag.alarmIds}}</code></dd>
            <dt>Rules</dt>
            <dd><code>{{$ctrl.tag.ruleIds}}</code></dd>
            <dt>Rule expression</dt>
            <dd><code>{{$ctrl.tag.ruleExpression}}</code></dd>
            <dt>Mode</dt>
            <dd><code>{{$ctrl.tag.mode}}</code></dd>
            <dt>Data type</dt>
            <dd><code>{{$ctrl.tag.type}}</code></dd>
            <dt>Simulated</dt>
            <dd><code>{{$ctrl.tag.simulated}}</code></dd>
            <dt>Topic name</dt>
            <dd><code>{{$ctrl.tag.topicName}}</code></dd>
            <dt>Metadata</dt>
            <dd><code>{{$ctrl.tag.metadata}}</code></dd>
            <dt>Value deadband</dt>
            <dd><code>{{$ctrl.tag.valueDeadband}}</code></dd>
            <dt>Deadband type</dt>
            <dd><code>{{$ctrl.tag.valueDeadbandType}}</code></dd>
            <dt>Time deadband</dt>
            <dd><code>{{$ctrl.tag.timeDeadband}}</code></dd>
            <dt>Priority</dt>
            <dd><code>{{$ctrl.tag.priority}}</code></dd>
            <dt>Guaranteed delivery</dt>
            <dd><code>{{$ctrl.tag.topicName}}</code></dd>
            <dt>Min value</dt>
            <dd><code>{{$ctrl.tag.minValue}}</code></dd>
            <dt>Max value</dt>
            <dd><code>{{$ctrl.tag.maxValue}}</code></dd>
            <dt>Control</dt>
            <dd><code>{{$ctrl.tag.controlTag}}</code></dd>
            <dt>Alive</dt>
            <dd><code>{{$ctrl.tag.aliveTag}}</code></dd>
            <dt>Logged</dt>
            <dd><code>{{$ctrl.tag.logged}}</code></dd>
            <dt>Process names</dt>
            <dd><code>{{$ctrl.tag.processNames}}</code></dd>
            <dt>Hardware address</dt>
            <dd><code>{{$ctrl.tag.hardwareAddress}}</code></dd>
            <dt>Address parameters</dt>
            <dd><code>{{$ctrl.tag.addressParameters}}</code></dd>
          </dl>
          </p>

        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>