<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!--<config-run-bar></config-run-bar>-->

      <h3>
        History
      </h3>

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Configuration ID</th>
          <th>Configuration Name</th>
          <th>Last Applied At</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="config in $ctrl.history" ng-click="$ctrl.viewConfig(config)">
          <td class="id">{{config.id}}</td>
          <td>{{config.name}}</td>
          <td>{{config.timestamp | date : 'medium'}}</td>
          <td class="cell-label">
            <span ng-if="config.status === 'FAILURE'" class="label label-danger">FAILURE</span>
            <span ng-if="config.status === 'RESTART'" class="label label-warning">RESTART</span>
            <span ng-if="config.status === 'OK'" class="label label-success">OK</span>
          </td>
          <td>
            <button class="btn btn-default btn-xs" ng-click="$ctrl.runConfig(config.id)">
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>