<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!--<config-run-bar></config-run-bar>-->

      <span class="btn-group">
        <a class="btn btn-sm btn-default" ng-repeat="config in $ctrl.configs" ng-click="$ctrl.activeConfig = config">
          <span ng-if="config.status === 'FAILURE'" class="text-danger">
            <i class="glyphicon glyphicon-remove-sign"></i>
          </span>
          <span ng-if="config.status === 'RESTART'" class="text-warning">
            <i class="glyphicon glyphicon-info-sign"></i>
          </span>
          <span ng-if="config.status === 'OK'" class="text-success">
            <i class="glyphicon glyphicon-ok-sign"></i>
          </span>

          Run at {{config.timestamp | date : 'medium'}}
        </a>
      </span>

      <p>
      <dl class="dl-horizontal">
        <dt>name</dt>
        <dd>{{$ctrl.activeConfig.name}}</dd>
        <dt>applied at</dt>
        <dd>{{$ctrl.activeConfig.timestamp | date : 'medium'}}</dd>
        <dt>status</dt>
        <dd>
          <span ng-if="$ctrl.activeConfig.status === 'FAILURE'" class="label label-danger">FAILURE</span>
          <span ng-if="$ctrl.activeConfig.status === 'RESTART'" class="label label-warning">RESTART</span>
          <span ng-if="$ctrl.activeConfig.status === 'OK'" class="label label-success">OK</span>
        </dd>
        <dt>message</dt>
        <dd>
          {{$ctrl.activeConfig.statusDescription}}
        </dd>
        <dt>DAQs to reboot</dt>
        <dd>{{$ctrl.activeConfig.processesToReboot}}</dd>
      </dl>
      </p>

      <uib-tabset>
        <uib-tab>
          <uib-tab-heading>
            <i class="glyphicon glyphicon-repeat"></i> Elements
          </uib-tab-heading>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="element in $ctrl.activeConfig.elementReports">
              {{::element.action}} {{::element.entity}} #{{::element.id}} {{::element.status}}

              <div ng-if="element.statusMessage">
                <pre>{{::element.statusMessage}}</pre>
              </div>

              <div ng-if="element.subreports.length > 0">
                <ul class="list-group">
                  <li class="list-group-item disabled" ng-repeat="subElement in element.subreports">
                    {{::subElement.action}} {{::subElement.entity}} #{{::subElement.id}} {{::subElement.status}}

                    <div ng-if="subElement.statusMessage">
                      <pre>{{::subElement.statusMessage}}</pre>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <!--<table class="table table-striped table-hover table-condensed">-->
          <!--<thead>-->
          <!--<tr>-->
          <!--<th class="col-sm-3">Action</th>-->
          <!--<th class="col-sm-3">Entity</th>-->
          <!--<th class="col-sm-3">Status</th>-->
          <!--<th class="col-sm-3">Sub elements</th>-->
          <!--</tr>-->
          <!--</thead>-->

          <!--<tbody>-->
          <!--<tr ng-repeat="element in $ctrl.config[0].elementReports">-->
          <!--<td rowspan="{{element.subreports.length}}">{{element.action}}</td>-->
          <!--<td>{{element.entity}} #{{element.id}}</td>-->
          <!--<td>{{element.status}}</td>-->
          <!--<td>{{element.subreports.length}}</td>-->
          <!--</tr>-->
          <!--</tbody>-->
          <!--</table>-->
        </uib-tab>

      </uib-tabset>

      </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>